/* I. Selectors */

/* Put styles for questions 1.1, 1.2, 1.3 and 1.4 here */
article {
  margin: 30px;
  padding: 20px;
  border: 2px dashed green;
}

.style-me1 {
  color: red;
}

#style.me2 {
  color: blue;
}

.style-me1#style-me2 {
  color: purple;
}

/* Put styles for questions 2.1 and 2.2 here */

.my-descendants-are-styled p {
  background-color: red;
}

.my-children-are-styled > p {
  background-color: lightgreen;
}

/* II. Box model and common properties */
/* Put styles for questions 1-8 here */

.box {
  background-color: lightblue;
  margin: 10px 20px 30px 20px;
  width: 200px;
  height: 20rem;
  border: 10px solid black;
  box-sizing: content-box;
  overflow: scroll;
  outline: 10px solid greenyellow;
  border-radius: 50%;
  padding: 25%;
  background: url("../assets/images/img1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* III. Positioning */
/* Put styles for questions 1-3 here */

.position-absolute {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: blueviolet;
}

.position-relative {
  position: relative;
  background-color: aquamarine;
}

.position-sticky {
  position: sticky;
  background-color: brown;
  top: 70px;
}

/* IV. Styling text */
/* Put styles for questions 1-10 here */

.text-style {
  color: rgb(99, 62, 62);
  font-size: 30px;
  line-height: 80%;
  font-weight: 400;
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  letter-spacing: 2px;
  word-spacing: 4px;
  text-transform: uppercase;
  text-decoration: underline;
}

/* V. Styling links */
/* Put styles for questions 1-3 here */

a,
a:link {
  color: firebrick;
  font-size: larger;
  font-weight: 400;
  text-decoration: line-through;
}

a:hover, a:active, a:focus {
    text-decoration: overline;
    color: darkred;
}

a:visited {
    color: hotpink;
    font-style: italic;
}

/* VI. calc() */
/* Put styles for questions 1-3 here */

.calc-style {
    width: 100vw;
    background-color: burlywood;
    width: calc(100vw - 100px)
}

.fixed-width-col {
  width: 350px;
  display: inline-block;
  background-color: bisque;
}

.fluid-col {
  display: inline-block;
  width: calc(100vw - 350px);
}