body {
    font-family: sans-serif;
    font-size: 16px;
    background-color: lightgrey;
    color: #0813de;
    max-width: 700px;
    margin: 0 auto;
    padding: 20px;
}


a {
    color: #0813de;
    text-decoration: none; 
    font-style: normal;
}

a:visited {
    color: #0813de;
    text-decoration: none; 
    font-style: normal;
}

a:hover {
    font-weight: bold;
}

h1 {
    padding-right: 20px;
    font-size: 40px;
}

img {
    border: #0813de solid 0px; 
    border-radius: 10px; 
    opacity: 1;
    margin-bottom: 10px;
    width: 350px;
}

.b-border {
    border: #0813de solid 2px;
    padding: 20px;
    padding-bottom: 50px;
    border-radius: 10px;
    
}

.contact-info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 5px;
    text-decoration: none;
    padding-right: 20px;
}


.contact-info a {
    display: flex;
    justify-content: space-between;
    width: 200px;
    text-decoration: none;
}

.contact-info b {
    text-align: left;
}

.contact-info span {
    text-align: right;
    text-decoration: none;
}

.flex-container {
    display: flex;
    flex-direction: row-reverse;
}

ul {
    padding-left: 0;
    margin-left: 0;
}

.s-label {
    position: sticky;
    top: 50px;
    flex: 0 0 210px;
    font-weight: bold;
    text-align: left;
    text-decoration: underline;
    font-size: 20px; 
    padding-top: 13px;  
    padding-left: 10px;
}

.label-container {
    display: flex;
    gap: 20px;
}

.sticky-label-column {
    flex: 0 0 210px;
}

.content-column {
    flex: 1;
    text-align: justify;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 20px;
}


.job-entry {
    margin-bottom: 40px;
}

footer {
    text-align: right;
    font-size: 40px;
    margin-right: 20px;

}

@media (max-width: 600px) {
  body { 
    padding: 10px;
    background-color: pink;
    }

    .label-container {
        flex-direction: column;
        gap: 0px;
    }

  .s-label {
    position: static;
    flex: none; 
    margin-bottom: 10px; 
    padding-left: 0;
} 

  .sticky-label-column {
        flex: none;
        width: 100%;
    }
    
    .content-column {
        flex: 1;
        padding: 10px;
    }

footer {
    text-align: right;
    font-size: 35px;
    margin-right: 20px;
}
img {
    width: 100%;
    max-width: 580px;   
}

.job-entry {
    margin-bottom: 20px;
}
}
